@charset 'utf-8';

body,html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Microsoft YaHei";
    display: absolute;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    background-color: #fff;
}