/**
*@author Gonster  ( gonster.github.io )
*/

@charset 'utf-8';

.sidebar {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Microsoft YaHei";
	position: absolute;
	height: 100%;
	min-width: 30px;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, .7);
	border: solid  thin rgba(0, 0, 0, .8);	
	box-shadow: -1px 0 5px rgba(0, 0, 0, .8);	
	padding: 20px;
	padding-right: 15px;
	padding-top: 2px;
	overflow-y: auto;
	overflow-x: hidden; 
}

.sidebar .panel {
	margin-bottom: 10px;
	margin-right: -10px;
	width: 280px;
}

.sidebar-right {
	right: 0;
}

.sidebar-left {
	left: 0;
}

.sidebar #sidebarResize {
	position: fixed;
	top: inherit;
	margin: 3px 0 0 -17px;
	width: 16px;
}

.sidebar-left #sidebarResize {
	/*left: 1px;*/
}

.sidebar-right #sidebarResize {
	/*right: 1px;*/
}

@media screen and (max-width: 600px) {
	.sidebar {
		position: absolute;
		height: 40%;
		top: 60%;
		overflow-x: auto;
	}
}

.sidebar .btn-color {
	display: none;
}
.sidebar .btn-image {
	display: block;
}

.sidebar  #buttonGroupTexturesType.btn-group {
	width: 100%;
	margin: -20px 0 10px 0;
}

.sidebar  #buttonGroupTexturesType.btn-group > .btn {
	width: 50%;
	padding: 0;
}

.sidebar #sidebarResize > .btn {
	border-radius: 0px;
	padding: 10px 3px 10px 3px;
	display: block;
	width: 100%;
}

.btn-group-rect label.btn {
	border-radius: 0;
	background-clip: border-box;
	background-size: 100% 100% !important;
}

.btn-group-rect .btn-tool:active,
.btn-group-rect .btn-tool.active
 {
	border-radius: 0;
	border-width: 3px; 
	box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 5px 0px inset;
}

.btn-group .btn:first-child {
  margin-left: -1px;
}

.btn-tool {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .2);
}
.btn-tool:hover,
.btn-tool:focus,
.btn-tool.focus,
.btn-tool:active,
.btn-tool.active,
.open > .dropdown-toggle.btn-tool {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .4);
  border-color: rgba(255, 255, 255, .5);
}
.btn-tool:active,
.btn-tool.active,
.open > .dropdown-toggle.btn-tool {
  background-image: none;
}
.btn-tool.disabled,
.btn-tool[disabled],
fieldset[disabled] .btn-tool,
.btn-tool.disabled:hover,
.btn-tool[disabled]:hover,
fieldset[disabled] .btn-tool:hover,
.btn-tool.disabled:focus,
.btn-tool[disabled]:focus,
fieldset[disabled] .btn-tool:focus,
.btn-tool.disabled.focus,
.btn-tool[disabled].focus,
fieldset[disabled] .btn-tool.focus,
.btn-tool.disabled:active,
.btn-tool[disabled]:active,
fieldset[disabled] .btn-tool:active,
.btn-tool.disabled.active,
.btn-tool[disabled].active,
fieldset[disabled] .btn-tool.active {
  background-color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, .4);
  color: #999;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px inset
}
.btn-tool .badge {
  color: #337ab7;
  background-color: #ffffff;
}

.panel-tool {
	background-color: rgba(0, 0, 0, 0.15);
	border: solid 2px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	color: #fff;
}

.panel-tool .panel-heading {	
	background-color: rgba(0, 0, 0, 0.8);	
	border-bottom: solid 2px rgba(255, 255, 255, 0.15);
}

.btn-group-toolbtn .btn:active,
.btn-group-toolbtn .btn:active:focus:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .6);
  border-color: rgba(255, 255, 255, .7);	
}

.btn-group-toolbtn .btn:hover:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .4);
  border-color: rgba(255, 255, 255, .5);
}

.btn-group-toolbtn .btn:focus{
  color: #ffffff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .2);
}